@import '../Common/Mixin.scss';


   .category-contentp{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 10px;
    margin: 40px auto;
    padding:20px 10px;

              
    }

     .category-card{
        height: auto;
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       

        @include md{
          width: 200px;
         
                  }

         @include mdd{
            width: 150px;

         
                    }     
                    
                    @include smallest{
                      width: 130px;
                    }

                    .image{
                      width: 100%;
                      height: 300px;
                      overflow: hidden;
                      
                      
                      @include mdd{
                       
                        height: 200px;
                      }
                             
                      
                               img{
                                  width: 100%;
                                  height: 100%;
                                border-radius:10px ;
                          
                              cursor: pointer;
                              transition: all 0.3s ease-in-out;


                              &:hover{
                                transform: scale(1.3);
                              }
                                 
                      
                                  
                              }
                      
                             
                          } 

                          h2{
                            display: flex;
                            align-items: center;

                            svg{
                              margin-top: 7px;

                            }
                            @include mdd{
                              font-size: 12px;

                              svg{
                                margin-top: 3px;
  
                              }
                            }
                          }
    }

    
