/* Wishlist.scss */

.wishlist-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }

  .wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 20px;
      border-radius: 5px;
    }

    &-details {
      flex-grow: 1;
      text-align: left;

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #555;
      }

      p {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #888;
      }

      &-controls {
        display: flex;
        align-items: center;
        
        button {
          background-color: #ff4757;
          color: white;
          border: none;
          padding: 10px 20px;
          font-size: 1em;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #e04047;
          }
        }
      }
    }
  }

  p {
    font-size: 1.2em;
    color: #777;
  }
}
